# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/
*.log

# Next.js
.next/
out/
build/

# NestJS
dist/

# Production
*.tsbuildinfo
*.build.log

# IDEs
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Turborepo
.turbo/

# Prisma
*.db
*.db-journal

# Docker
*.pid
